[submodule "Taskbuddy-client"]
	path = Taskbuddy-client
	url = https://github.com/luc-silva/Taskbuddy-client
[submodule "Taskbuddy-spring-api"]
	path = Taskbuddy-spring-api
	url = https://github.com/luc-silva/Taskbuddy-api
[submodule "Taskbuddy-typescript-api"]
	path = Taskbuddy-typescript-api
	url = https://github.com/luc-silva/Taskbuddy-api-v2
